
html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  @font-face {
      font-family: 'Arcades Italic';
      src: url('../fonts/Arcades\ Italic.ttf') format('truetype'); /* O usar .otf si es el caso */
      font-weight: normal;
      font-style: normal;
    }
    
    body {
      font-family: 'Arcades Italic', sans-serif;
    }
  
    h1{
      font-size: 85px;
       
     
      text-shadow: 2px 2px 0 black, -2px -2px 0 black, -2px 2px 0 black, 2px -2px 0 black;
    }

    main{
      position: relative;
      margin-top: -330px;
    }